.planet {
  position: fixed;
  top: 30vh;
  left: 50%;
  // display: none;

  height: 3500px;

  user-select: none;
  transform: translateX(-50%) translateY(40vh) scale(0.55);
  transform-origin: top;
  pointer-events: none;
}

#miniplanet {
  display: none;

  cursor: pointer;
  // transition: transform 1s ease;
  transform: translate(-50%,0) scale(0.55);
}

#miniplanet.zoomed-in {
  transform: translate(-50%,0) scale(1);
}

#earth_powerstations_l {
  opacity: 0;
}

#earth_powerstations_r {
  opacity: 0;
}

#earth_scale_cutaway_l {
  display: none;
}

#earth_scale_cutaway_r {
  display: none;
}

#half_circle_r{
  transform: translateX(50%);
}

#planet_surface_container {
  position: fixed;
  top: 30vh;
  left: 50%;

  display: none;

  height: 1750px;

  transition: 0.3s opacity ease;
  transform: translateX(-50%) rotate(0deg);

  opacity: 0;
}

#planet_surface_container.visible {
  opacity: 1;
}

.surface-image {
  position: absolute;
  top: 0;
  left: 50%;

  width: 50px;

  transform: translateX(-50%) rotate(0deg);
  transform-origin: 50% 1750px;
}