@use './styles/variables' as *;

.green-text {
  color: #82c722;

  font-weight: bold;
}

.subtitle-text {
  color: #d84e24;

  font-size: 0.5em;
}

.blue-text {
  color: #5cd8ff;

  font-weight: bold;
}

.yellow-text {
  color: #ffef5b;

  font-weight: bold;
}

.orange-text {
  color: #f4673c;

  font-weight: bold;
}

.purple-text {
  color: #983cf4;

  font-weight: bold;
}

.grey-text {
  color: #756683;

  font-weight: bold;
}

.small-text {
  font-size: 0.6em;
  font-weight: normal;
}

.lower-text {
  padding: 2px 4px;

  user-select: none;
  pointer-events: none;

  color: white;
  background: rgba(0, 0, 0, 0.329);

  font-size: 0.8em;
}

.bottom-left {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;

  border-top-right-radius: 5px;
}

.bottom-right {
  position: fixed;
  z-index: 20;
  right: 0;
  bottom: 0;

  border-top-left-radius: 5px;
}

.intro-text {
  position: absolute;
  z-index: 5;

  box-sizing: border-box;
  width: 100vw;
  padding: 0 12px;

  text-align: center;

  color: #ffffff;

  font-size: 28px;
  font-weight: normal;
  line-height: 1.3em;
}

.intro-text h1,
.intro-text h3 {
  position: absolute;
  left: 50%;

  display: block;

  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  margin: 0;
  padding: 12px;

  transform: translateX(-50%);

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.612);

  font-weight: normal;
}

#intro_title {
  top: 50px;

  font-size: 2.5em;
  line-height: 0.65em;
  span {
    margin: 0;
  }
}

#intro_text_1 {
  top: 293px;
}

#intro_text_2,
#intro_text_3,
#intro_text_4 {
  position: fixed;
  top: 16vh;

  display: none;

  transform: translate(-50%, -50%);

  opacity: 0;
}

@media (max-width: $screen-md) {
  .intro-text {
    font-size: 20px;
  }
}
