.green-text {
    color: #82c722;

    font-weight: bold;
}

.subtitle-text {
    color:  #d84e24;

    font-size: 0.5em;
}

.blue-text {
    color: #5CD8FF;

    font-weight: bold;
}

.yellow-text {
    color: #FFEF5B;

    font-weight: bold;
}

.orange-text {
    color: #f4673c;

    font-weight: bold;
}

.purple-text {
    color: #983cf4;

    font-weight: bold;
}

.grey-text {
    color: #756683;

    font-weight: bold;
}

.small-text {
    font-size: 20px;
    font-weight: normal;
}

.intro-text {
    position: absolute;
    z-index: 5;

    box-sizing: border-box;
    width: 100vw;
    padding: 0 12px;

    text-align: center;

    color: #ffffff;

    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
  }

  .intro-text h1,
  .intro-text h3 {
    position: absolute;
    left: 50%;

    display: block;

    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    margin: 0;
    padding: 12px;

    transform: translateX(-50%);

    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.612);

      font-weight: normal;
  }

  #intro_title {
    top: 50px;

    font-size: 70px;
    line-height: 0.65em;
    span{
    margin: 0;
    }
  }

  #intro_text_1 {
    top: 293px;
  }

  #intro_text_2 {
    // top: 1228px;
    position: fixed;
    top: 18vh;

    transform: translate(-50%,-50%);

    opacity: 0;
    // background-color: transparent;
  }

  #intro_text_3 {
    position: fixed;
    top: 18vh;

    transform: translate(-50%,-50%);

    opacity: 0;
    // background-color: transparent;
  }

  #intro_text_4 {
    // top: 2592px;
    position: fixed;
    top: 18vh;

    transform: translate(-50%,-50%);

    opacity: 0;
    // background-color: transparent;
  }
